.dropzone {
  min-height: 80px;
  display: table;
  width: 100%;
  border: dashed 1px #d2d2d2;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #d2d2d2;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item_row {
  display: flex;
  flex-direction: column;
}

.btn {
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  background-color: indianred;
  border: 0;
  outline: 0;
}

.item {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 0.5px solid rgb(52, 181, 241);
  border-radius: 6px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

  .item > span {
    margin-right: 10px;
    font-size: 17px;
  }

.btn {
  border: 3px solid transparent;
}

  .btn:hover {
    background: rgba(255, 255, 255, 1);
    color: black;
    -webkit-transition: background 0.2s, border 0.2s;
    -moz-transition: background 0.2s, border 0.2s;
    border: 3px solid indianred;
  }
