<div class="container">
  <div class="row">
    <div class="dropzone" appFiledrop (click)="onOpenFilesInput()" (filesChangeEmiter)="onFilesChange($event)"
         [allowed_extensions]="['jpg', 'png', 'gif', 'bmp', 'jpeg', 'pdf', 'tiff', 'doc', 'docx']">
      <div class="text-left">
        <p>Для загрузки доступны:</p>
        <p>*.jpg, *.jpeg, *.png, *.bmp, *.gif, *.pdf, *.tiff, *.doc, *.docx</p>
      </div>
    </div>
    <input type="file" multiple class="form-control" placeholder="" (change)="onFilesChangeInput($event)"
           accept=".jpg, .png, .gif, .bmp, .jpeg, .pdf, .tiff, .doc, .docx" [style.display]="'none'" #filesInput />
  </div>
  <div class="item_row">
    <div class="item" *ngFor="let file of files; let i = index">
      <span>{{file.name}}</span> <button class="btn" (click)="del(i)">Удалить</button>
    </div>
  </div>
</div>
